
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    background-image: linear-gradient(to left,rgb(78, 78, 245),rgb(238, 238, 63));
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.quiz-container{
    background-color: #fff;
    width: 600px;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px black;
    overflow: hidden;
}
.quiz-head{
    padding: 4rem;
}
h2{
    padding: 1rem;
    text-align:center;
    margin:0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.2rem;
    margin:1 rem;
}
ul li label{
    cursor: pointer;
}
button{
    cursor: pointer;
    text-align: center;
    width:100%;
    display: block;
    background-color: aqua;
    color: black;
    border: none;
    font-size:  1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1.2rem;
}
button:hover{
    background-color: rgb(67, 129, 129);
}
button:focus{
    background-color: rgb(124, 253, 98);
    outline: none;
}